@media screen and (max-width: 1539px) {
  .dataTable {
    width: 77vw;
  }
}

@media screen and (max-width: 1519px) {
  .dataTable {
    width: 76.8vw;
  }
}

@media screen and (max-width: 1506px) {
  .dataTable {
    width: 76.5vw;
  }
}

@media screen and (max-width: 1487px) {
  .dataTable {
    width: 76vw;
  }
}

@media screen and (max-width: 1456px) {
  .dataTable {
    width: 75vw;
  }
}

@media screen and (max-width: 1425px) {
  .dataTable {
    width: 75vw;
  }
}

@media screen and (max-width: 1398px) {
  .dataTable {
    width: 74.4vw;
  }
}

@media screen and (max-width: 1364px) {
  .dataTable {
    width: 74vw;
  }
}

@media screen and (max-width: 1344px) {
  .dataTable {
    width: 73.5vw;
  }
}

@media screen and (max-width: 1319px) {
  .dataTable {
    width: 73.4vw;
  }
}

@media screen and (max-width: 1313px) {
  .dataTable {
    width: 73vw;
  }
}

@media screen and (max-width: 1294px) {
  .dataTable {
    width: 72.5vw;
  }
}

@media screen and (max-width: 1271px) {
  .dataTable {
    width: 72vw;
  }
}

@media screen and (max-width: 1248px) {
  .dataTable {
    width: 71.5vw;
  }
}

@media screen and (max-width: 1226px) {
  .dataTable {
    width: 70vw;
  }
}

@media screen and (max-width: 1165px) {
  .dataTable {
    width: 69vw;
  }
}

@media screen and (max-width: 1127px) {
  .dataTable {
    width: 68vw;
  }
}

@media screen and (max-width: 1100px) {
  .dataTable {
    width: 100%;
  }
}