<div
                className=" border  rounded-lg bg-white flex flex-row"
                style={{ height: "200px", width: "965px" }}
              >
              
                <div>
                <p className="font-semibold mx-2">Ore Production ( Target vs Achieved )</p>
                <div className='flex gap-4'>
                  <div className='flex flex-row mx-2 items-center justify-center'>
                    <p className='h-3 w-3 mx-2 bg-green-200  '> </p>
                    <p  >Achieved</p>
                    <div className='flex items-center justify-center'>
                    <p className='h-3 w-3 mx-2 bg-violet-400  '> </p>
                    <p  >Target</p>
                  </div>
                  </div>
                  </div>
                <div className="flex flex-row p-2  ">
                  {/* <LineChart1/> */}
                  <LineChart1/>
                </div>
                </div>
                <div>
                <p className="font-semibold mx-4">Drilling Surface ( Target vs Achieved )</p>
                <div className='flex gap-4'>
                <div className='flex flex-row mx-2 items-center justify-center'>
                    <p className='h-3 w-3 mx-2 bg-green-200  '> </p>
                    <p  >Achieved</p>
                    <div className='flex items-center justify-center'>
                    <p className='h-3 w-3 mx-2 bg-violet-400  '> </p>
                    <p  >Target</p>
                  </div>
                  </div>
                  </div>
                <div className="flex p-2 justify-center items-center">
                  {/* <LineChart2/> */}
                  <LineChart1/>
                </div>
                </div>
                
              </div> 

              